/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define basic styles for the page */
body {
    font-family: Arial, sans-serif;
    background-color: var(--tg-theme-secondary-bg-color, #fff);
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}

.product-card {
    background-color: var(--tg-theme-bg-color, #fff);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0.5em 0.5em; /*top-bottom left-right*/
    padding: 1em;
    width: 45%;
}

.product-title {
    color: var(--tg-theme-text-color)
    font-size: 20px;
    margin: 0.5em 0;
}

.product-price {
    color: var(--tg-theme-text-color,#0088cc);
    font-size: 16px;
    font-weight: bold;
}

.product-description {
    color: var(--tg-theme-hint-color)
    font-size: 12px;
    color: #666;
}

.product-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}