/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define basic styles for the page */
body {
    font-family: Arial, sans-serif;
    background-color: var(--tg-theme-secondary-bg-color, #fff);
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}

.product-card {
    background-color: var(--tg-theme-bg-color, #fff);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0.5em 0.5em; /*top-bottom left-right*/
    padding: 1em;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.product-detail {
    background-color: var(--tg-theme-bg-color, #fff);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0.5em 0.5em; /*top-bottom left-right*/
    padding: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.product-title {
    color: var(--tg-theme-text-color);
    font-size: 16px;
    margin: 0;
}

.product-price {
    color: var(--tg-theme-text-color,#0088cc);
    font-size: 12px;
    font-weight: bold;
}

.product-description {
    color: var(--tg-theme-hint-color,#666);
    font-size: 8px;
}

.product-contact {
    color: var(--tg-theme-hint-color,#666);
    font-size: 8px;
}

.product-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-button {
    background-color: var(--tg-theme-button-color,#3498db);
    color: var(--tg-theme-button-text-color,#fff);
    font-size: 12px;
    margin: 0.5em;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
}

.product-back-button {
    background-color: var(--tg-theme-button-color,#3498db);
    color: var(--tg-theme-button-text-color,#fff);
    font-size: 12px;
    margin: 0.5em;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
}